<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <div class="rainbow-icon">
      <i class="fas fa-book fa-7x"></i>
    </div>

    <hr class="my-4" />
    <div class="row justify-content-center">
      <div class="col-md-4">
        <a
          class="btn btn-primary btn-lg btn-block mb-2"
          href="/register"
          role="button"
          style="
            background-color: rgb(44, 122, 110);
            border-color: rgb(44, 122, 110);
          "
          >Get Started</a
        >
      </div>
      <div class="col-md-4">
        <a
          class="btn btn-primary btn-lg btn-block"
          href="/login"
          role="button"
          style="
            background-color: rgb(44, 122, 110);
            border-color: rgb(44, 122, 110);
          "
          >Login</a
        >
      </div>
    </div>
  </div>
</div>
<div class="home-background"></div>
<div class="intro-home">
  This page is dedicated to the books that you love most and you want have them
  at hand at your disposal. We make this website based in our love for all books
  that bring us pleasure, pain and beyond. We love books and if you are a lover
  too we want us you to be part of our worthy reads for free!
</div>
