<%- include('partials/header') %> <%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-book fa-7x" style="color: rgb(168, 168, 168);"></i>

    <h1 class="display-4 mb-3">Welcome to Your Book Catalog</h1>
    <p class="lead">
      Keep track of all the books you've read in one place!
    </p>
    <hr class="my-4" />
    <div class="row justify-content-center">
      <div class="col-md-4">
        <a
          class="btn btn-primary btn-lg btn-block mb-2"
          href="/register"
          role="button"
          >Get Started</a
        >
      </div>
      <div class="col-md-4">
        <a
          class="btn btn-outline-primary btn-lg btn-block"
          href="/login"
          role="button"
          >Login</a
        >
      </div>
    </div>
  </div>
</div>
<div class="home-background"></div>
