<!-- index.ejs -->

  <%- include('partials/header') %>
  <body>
    <header class="header">
      <div class="header-background"></div>
    </header>

    <!-- Content Section -->
    <div class="content">
      <%- include('books') %>
    </div>

    <!-- Footer or Additional Components -->
    <footer></footer>

    <script src="/js/main.js"></script>
  </body>
</html>
