/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:  #ffffff;;
}





.header {
  background-image: url('/images/marbled-8050572_1280.png');
  background-size: cover;
  padding: 10px 0;
}

.header h1 {
  color: #000000; /* Set text color */
  font-family: Arial, sans-serif; /* Set font family */
  font-weight: bold; /* Set font weight */
  font-size: 4em; /* Set font size */
  margin: 0.2em 0; /* Adjust margin for top and bottom */
  text-align: left;
  margin-left: 0.5em;
}

.header p {
  color: #000000; /* Set text color */
  font-family: Arial, sans-serif; /* Set font family */
  font-size: 1.8em; /* Set font size */
  margin: 0; /* Reset margin */
  position: relative; /* Enable positioning */
  top: -1em; /* Adjust vertical position */
  margin-left: 1.4em;
}


.intro-home{
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(0, 0, 0);
  font-weight:lighter;
  margin-left: 1em;
}

.home-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/marbled-8050572_1280.png');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    animation: fadeIn 2s ease-in-out forwards;
    z-index: -1; /* Ensure the background is behind other content */
  }

  /* Add fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.8;
    }
  }


  .logout-button {
    position: fixed;
    top: 20px; /* Adjust the distance from the top as needed */
    right: 20px; /* Adjust the distance from the right as needed */
    background-color: #94edd9; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif; /* Or any other modern font */
  }



  .intro-home {
    font-size: 45px;
    margin-right: 30px;
    left:20px;
    padding: 40px;
    text-align:left;
    color: #08100a;
   
 
  
  }




  .logout-button:hover {
    background-color: #04666e; /* Darker green */
  }

/* Styling for the countBook class */
.countBook {
  font-family:Arial, Helvetica, sans-serif;
  color:#12645e;
  font-size: 45px; 
  text-align: center;
 
}
.countMessage{
  font-family: Arial, Helvetica, sans-serif;
  color:#266759;
  font-size: 25px;
  text-align: center;
}

.welcomeName{
  margin-top: 1em;
  text-transform: uppercase;
   font-family: Arial, Helvetica, sans-serif;
  color:#266759;
  font-weight: lighter;
  font-size: 3em;
  text-align: center;
  animation: countAnimation 2s ease-out forwards;
}
@keyframes countAnimation {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


#bookCount {
  color: #ff0000; /* Green color */
  font-weight: bold;
  animation: countAnimation 2s ease-out forwards;
}

/* Keyframe animation for counting */
@keyframes countAnimation {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.book-card {
  border: 3px solid rgb(92, 91, 91);
  padding: 40px; /* Increased padding for more space */
  margin: 30px auto; /* Increased margin for better centering */
  width: 600px; /* Increased width for more space */
  text-align: center;
  border-radius: 50px; /* Increased border radius for a more rounded appearance */
   background-image: url('/images/marbled-8050572_1280.png');
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow for depth effect */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align children vertically */
  align-items: center; /* Align children horizontally */
}
input[type="text"] {
  padding: 10px; /* Add padding to the input fields */
  margin: 10px 0; /* Add margin to create space between input fields */
  border: 2px solid rgb(100, 93, 86); /* Add border to the input fields */
  border-radius: 8px; /* Add border radius for rounded corners */
  width: 80%; /* Adjust the width of the input fields */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

button[type="submit"] {
  padding: 10px 20px; /* Add padding to the button */
  margin-top: 20px; /* Add margin to create space between input fields and the button */
  border: none; /* Remove border */
  border-radius: 8px; /* Add border radius for rounded corners */
  background-color: rgb(69, 115, 95); /* Add background color */
  color: #fff; /* Change text color to white */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

button[type="submit"]:hover {
background-color: rgb(40, 60, 68); /* Change background color on hover */
}

.book {
   width: 250px;
  display: flex; /* Use flexbox for layout */
  margin-bottom: 20px; /* Add spacing between books */
}

.book-cover {
  flex: 0 0 auto; /* Do not grow or shrink, maintain its initial size */
  margin-right: 20px; /* Add spacing between cover and details */
}

.book-list {
 
  display: flex;
  flex-wrap: wrap;
 justify-content:flex-start;
  list-style-type: none;
  margin-left: 15em;
  
}
.book-details {
  flex: 1; 
}


.book-list li {

  width: 450px; 
  height: auto;
  overflow: hidden;
  margin: 5px;
 }


.book-list li img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px 10px 0 0;
 position: relative;
}
.book-title {
  
  color: rgb(29, 100, 47); 
   font-family: Arial, Helvetica, sans-serif;
   display: block;
}

.author {
  color: rgb(29, 100, 47); 
  font-family: Arial, Helvetica, sans-serif;
  display: block; 
  margin-left: 0; /* Reset any existing margin */
}

.description-container {
  display: none;
  background-color: #99f1ba; /* Light background color */
  border: 1px solid #ccc; /* Soft border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding for spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft box shadow */
  max-width: 300px; /* Limit width to avoid taking up too much space */
  margin-top: 10px; /* Spacing from the book details */
}

.description {
  margin: 0; /* Remove default margin */
  font-size: 14px; /* Adjust font size */
  font-weight: bold;
  color: #333; /* Text color */
}


.delete-form {
  display: inline-block;

}

.deleteButton {
  background-color: transparent; 
  border: none; 
  color: #000000;
  font-size: 14px; 
  cursor: pointer; 
  transition: color 0.3s ease; 
  margin-right: 1em;
}

.deleteButton:hover {
  color: #333; /* Change text color on hover */
}

.rainbow-icon {
  animation: colorChange 30s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: #158d6f; 
  }
  16.67% {
    color: #6acdbc; /* Orange */
  }
  33.33% {
    color: #085735; /* Yellow */
  }
  50% {
    color: #b0e0c9; /* Green */
  }
  66.67% {
    color: #2c493c; /* Blue */
  }
  83.33% {
    color: #a6d1b8; /* Indigo */
  }
  100% {
    color: #1b3828; /* Violet */
  }
}

 
    /* footer */
    .text-mute{
      color: rgb(69, 115, 95);
    }