/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:  #e0e0e0;;
}

h1 {
  color: rgb(44, 122, 110); 
  text-align: center;
  margin: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 20px auto;
}
/* HEADER */


.header {
  position: relative;
  height: 150px; /* Adjust height as needed */
  text-align: center;
}


.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/old_library.webp'); /* Specify the path to your WebP image */
  background-size: cover;
  background-position: center;
  opacity: 0.8; /* Adjust opacity as needed */
}

.home-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/old_library.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    animation: fadeIn 2s ease-in-out forwards;
    z-index: -1; /* Ensure the background is behind other content */
  }

  /* Add fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.8;
    }
  }
.book-title {
  
  color: rgb(0, 0, 0); 
   font-family: Arial, Helvetica, sans-serif;
}

.author {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  display: block; /* Display the text as a block element */
  margin-left: 0; /* Reset any existing margin */
}

  .logout-button {
    position: fixed;
    top: 20px; /* Adjust the distance from the top as needed */
    right: 20px; /* Adjust the distance from the right as needed */
    background-color: #ce2207; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif; /* Or any other modern font */
  }

  .logout-button:hover {
    background-color: #890505; /* Darker green */
  }

/* Styling for the countBook class */
.countBook {
  color:#12645e;
  font-size: 45px; 
  text-align: center;
  margin-top: 10px; 
}
#bookCount {
  color: #ff0000; /* Green color */
  font-weight: bold;
  animation: countAnimation 2s ease-out forwards;
}

/* Keyframe animation for counting */
@keyframes countAnimation {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.countMessage{
  color:#266759;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.book-card {
  border: 3px solid rgb(92, 91, 91);
  padding: 40px; /* Increased padding for more space */
  margin: 30px auto; /* Increased margin for better centering */
  width: 600px; /* Increased width for more space */
  text-align: center;
  border-radius: 50px; /* Increased border radius for a more rounded appearance */
   background-image: url('/images/marbled-8050572_1280.png');
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow for depth effect */
 display: flex;
  flex-direction: column;
  justify-content: center; /* Align children vertically */
  align-items: center; /* Align children horizontally */
}
input[type="text"] {
  padding: 10px; /* Add padding to the input fields */
  margin: 10px 0; /* Add margin to create space between input fields */
  border: 2px solid rgb(100, 93, 86); /* Add border to the input fields */
  border-radius: 8px; /* Add border radius for rounded corners */
  width: 80%; /* Adjust the width of the input fields */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

button[type="submit"] {
  padding: 10px 20px; /* Add padding to the button */
  margin-top: 20px; /* Add margin to create space between input fields and the button */
  border: none; /* Remove border */
  border-radius: 8px; /* Add border radius for rounded corners */
  background-color: rgb(69, 115, 95); /* Add background color */
  color: #fff; /* Change text color to white */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

button[type="submit"]:hover {
background-color: rgb(40, 60, 68); /* Change background color on hover */
}


.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}


.book-list li {
  width: 225px; /* Adjust the width as needed */
  height: 450px; /* Adjust the height as needed */
  margin: 5px;
  padding: 20px; 
  background-color: #7a9a8d;;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a slight elevation effect */
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  
}


/* Styling for the book image */
.book-list li img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px 10px 0 0; /* Rounded corners only on the top */
  position: relative;
  
}



/* bootstrap */
   .text-primary {
      color: rgb(160, 100, 22)
    }

    .btn-primary,
    .btn-outline-primary {
      background-color: rgb(152, 152, 152);
      border-color: rgb(31, 31, 31);
      color: #ffffff; /* Darker text color for better visibility */
    }

    .btn-primary:hover,
    .btn-outline-primary:hover {
      background-color: rgb(152, 152, 152); /* Darker hover color */
      border-color: rgb(31, 31, 31); /* Darker hover color */
    }